html, body {
    height: 100%;
    width: 100%;
}

#layout {
    justify-content: center;
    display: flex;
    height: 100%;

    a {
        color: #337ab7;
    }
    ul#navigation {
        padding-left: 0;
        li {
            display: inline-block;
        }
    }

    #content {
        padding: 0 10rem;
    }
}
